{% load static %}
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <ul>
      {% for ad in advs %}
      <div class="advertisement">
        <ul>
          <li>{{ad.title}}</li>
          <li>{{ad.description}}</li>
          <li>{{ad.created_at}}</li>
          <li>{{ad.updated_at}}</li>
          <li>{{ad.vies_count}}</li>
        </ul>
      </div>
      {% endfor %}
  </ul>  
</body>
</html>