<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Объявления</h1>
    {% if adv_list %}
    <ul>
        {% for adv in adv_list %}
        <li>
            <a href="/advertisement/{{ adv.id }}">{{ adv.title }}</a>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>Объявлений нет.</p>
    {% endif %}
</body>
</html>