<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная</title>
</head>
<body>
    {% if request.user.is_authenticated %}
    <h3>Добро пожаловать на сайт {{ request.user.first_name }}</h3>
    <h3>Вы из города {{ request.user.profile.city }}</h3>
    <h3>Вы родились {{ request.user.profile.date_of_birth }}</h3>
    {% else %}
    <h3>Вы не авторизованы</h3>
    <a href="{% url 'login' %}">Войти</a>
    {% endif %}
    <h2>Главная страница</h2>
</body>
</html>